body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Crimson Pro", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 12px;
}

small {
  font-size: 1rem;
}

.container-fluid {
  padding: 5% 15% 7%;
}

/* Heading */

.big-heading {
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.5;
  text-align: left;
  color: rgb(56, 56, 56);
  padding-bottom: 0.5rem;
}

.small-heading {
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  text-align: left;
  display: inline-block;
}

/* Navigation Bar */
.navbar {
  padding: 0% 15% 1%;
  background-color: whitesmoke;
}

.navbar-brand {
  font-family: "Crimson Pro", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 12px;
}

.title-div {
  vertical-align: -webkit-baseline-middle;
}

.title-name-row {
  padding: 5px 0;
}

.nav-item {
  padding: 0px 12px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar .navbar-brand {
  color: navy;
}

.navbar .navbar-brand:hover {
  color: navy;
}

.navbar-light .navbar-nav .nav-link {
  color: navy;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: purple;
}

/* Title */

#title {
  background-color: white;
  color: rgb(99, 98, 98);
  margin-top: 3rem;
  padding-top: 3%;
}

.title-img {
  width: 60%;
}

.title-pic-row {
  position: relative;
  padding-top: 12%;
  left: 50px;
}

.title-contact-row {
  position: relative;
  left: 50px;
}

.title-icons {
  display: inline;
  padding-top: 7%;
  padding-right: 10px;
  color: navy;
  color: rgb(99, 98, 98);
}

.title-icons:hover {
  text-decoration: none;
  color: purple;
}

.title-contact {
  display: inline;
  font-size: 1rem;
  color: rgb(99, 98, 98);
}

.title-contact:hover {
  font-size: 1.1rem;
  text-decoration: none;
  color: purple;
}

.tedavi-btn {
  margin: 0.5%;
  background-color: navy;
  border-color: navy;
  white-space: normal !important; 
  word-wrap: break-word;
  text-align: left;
}

.tedavi-btn:hover {
  background-color: purple;
  border-color: purple;
}

/* Clinic */

#clinic {
  background-color: #2f416d;
  color: white;
}

.clinic-container {
  padding: 5% 0 7%;
}

.clinic-features {
  padding: 3% 15% 3%;
}

.clinic-icons {
  padding-bottom: 5%;
}

.carousel {
  padding: 3% 15% 3%;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  padding: 1%;
}

.carousel-item.active {
  padding: 1%;
}

.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  margin-left: auto;
}
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  margin-right: auto;
}

.clinic-img {
  width: 60%;
  border-radius: 5%;
}

/* Hours */

#hours {
  background-color: white;
  color: rgb(99, 98, 98);
}

.clock-icon {
  display: inline-block;
  size: 75%;
  padding-left: 12px;
}

.hours-description {
  padding-top: 3%;
}

/* Hospitals */

#hospitals {
  background-color: whitesmoke;
  color: rgb(99, 98, 98);
}

.hospital-logo {
  width: 75%;
  margin: 10% 0 10%;
}

.hospital-row {
  position: relative;
  min-height: 150px;
  text-align: center;
  vertical-align: middle;
}

.hospital-names {
  position: absolute;
  bottom: 0;
}

/* Footer */

#footer {
  background-color: white;
  color: rgb(99, 98, 98);
  padding: 3% 20% 1% 20%;
  text-align: center;
}

/* CONTACT HTML */

/* Reach Us */

#reach-us {
  background-color: white;
  color: rgb(99, 98, 98);
  margin-top: 3rem;
  padding-top: 3%;
}

.contact-info {
  color: rgb(99, 98, 98);
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.contact-info:hover {
  color: purple;
  font-size: 1.1rem;
  text-decoration: none;
}

.icon-row {
  padding-top: 3%;
  text-align: center;
}

.icons {
  color: rgb(99, 98, 98);
  padding: 5% 0 5%;
  text-align: center;
}

.icons:hover {
  color: purple;
  text-decoration: none;
}

/* Address */

#address {
  /* background-color: rgb(99, 98, 98); */
  background-color: #2f416d;
  color: white;
}

.address-btn-description {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.google-maps {
  min-height: 350px;
}

.route-button {
  margin: 3% 0 3%;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .nav-item {
    padding: 0px 3px;
  }
}

@media (max-width: 768px) {

  .container-fluid {
    padding: 5% 10% 10%;
  }

  .clinic-container {
    padding: 5% 0 10%;
  }

  .carousel {
    padding: 3% 3% 3%;
  }

  .clinic-img {
    width: 80%;
  }

  .carousel-control-prev-icon {
    margin-left: 0px;
    margin-right: 0px;
  }
  .carousel-control-next-icon {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 682px) {
  #title,
  #reach-us {
    margin-top: 7.5rem;
  }

  .clinic-icon-row p {
    padding-bottom: 10%;
  }
}

@media (max-width: 565px) {
  h1 {
    font-size: 2.5rem;
  }

  .hospital-logo {
    width: 50%;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }

  .container-fluid {
    padding: 5% 7% 10%;
  }

  .clinic-container {
    padding: 5% 7% 10%;
  }

  .navbar {
    padding: 0% 7% 1%;
  }

  .small-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .container-fluid {
    padding: 10% 7% 15%;
  }

  .clinic-container {
    padding: 10% 7% 15%;
  }

  #footer {
    font-size: 0.7rem;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 1.7rem;
  }

  small {
    font-size: 0.85rem;
  }
}
